
/bin/
build
.classpath
.project
.settings
build/tmp
.classpath
.project
bin/
conf/commercial/
results-soap.xml
.DS_Store
**/node_modules
**/test-reports
**/mochawesome-report
**/xunit.xml
**/test-report.xml